  {{#> layout title="Home page"}}
  {{#*inline "body"}}
  <header class="header-2">
    <div class="page-header section-height-75 relative"
      style="background-image: url('./assets/img/curved-images/curved15.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Found {{AmountFound}} results for: {{Query}}</h1>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
          </g>
        </svg>
      </div>
    </div>
  </header>

  <section class="my-5 py-5">
    <div class="container">
      <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">URL</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First seen
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Active</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              {{#each FoundSites}}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img src="/images/thief.png" class="avatar avatar-sm me-3">
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center">
                 <a class="text-secondary text-xs font-weight-bold" href="{{URL}}"> <span class="text-secondary text-xs font-weight-bold">{{URL}}</span></a>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{createdAt}}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{Active}}</span>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  {{/inline}}
  {{/layout}}